/*configuração global*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
}

/*configurações do header*/

header{
    padding: 1vh;
    height: 20vh;
    background-color: #020da3;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 8px 8px #2b3676;
    position: sticky;
    top: 0;
    left: 0;
}

.logo img{
    width:  15rem;
    height: 7.5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 10px 30px;
    height: 50px;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 0 30px;
    align-items: center;
}

.nav-links a,
.nav-links-mobile a{
    color: white;
    text-decoration: 0.3s;
    font-size: 23px;
}

.nav-login{
    align-items: center;
    display: flex;
}

.nav-login img{
    width: 3.2rem;
    margin-right: -35PX; 
    height: 4vh;
}

.nav-links .icon-login{
    width: 3.2rem;
    margin-right: -10PX;
}

.nav-links .icon-login a:hover{
    color: #34c7ce;
}

.nav-links a:hover{
    color: #34c7ce;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #020da3;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 0%;
    list-style: none;
    padding: 0;
}

.nav-links-mobile li {
    border-bottom: 1px solid #2b3676;
    padding-bottom: 1.2rem;
}

.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}


/*confuguração dos blocos*/
#Bloco-01{
    background-image: url(ImgHome/business-5327813_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 0.3vh;
    padding: 1em;
    height: 53vh;
    width: 100%;
    border-radius: black;
    box-shadow: 0px 8px  #2b3676;
    color: white;
}

#Bloco-00{
    padding: 3vh;
    background-color: black;
    color: white;
    text-align: center;
}

#Bloco-00 h1{
    text-align: center;
    margin-bottom: 1rem;
}

#Bloco-00 p{
    font-size: 20px;
}

#Bloco-02{
    padding: 2em;
    height: 33vh;
    width: 100%;
    color: black;
    text-align: center;
    background-color: #34c7ce;
    box-shadow: 1px 1px 5px 5px #2b3676;
    font-size: 25px;
}



#Bloco-02 h2{
    margin-bottom: 1.5em;
    margin-top: 0.8em;
    margin-left: 10em;
    margin-right: 15em;
}

#Bloco-02 p{
    margin-top: -10px;
    text-align: justify;
    margin-left: 10em;
    margin-right: 16em;
}

#Bloco-03{
    padding: 5vh;
    background-image: url(ImgHome/img-bloco-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 62vh;
    width: 100%;
    background-position: center;
    border-radius: #5774ee;
    box-shadow: 8px 8px 8px 8px #2b3676;
    border: 8px 8px 8px 8px #2b3676;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: -20px;
    
}

#Bloco-03 h2{
    margin-bottom: 2rem;
    margin-right: 70rem;

}

#Bloco-03 p{
    margin-bottom: 0.5rem;
    font-weight: 900;
    margin-right: 70rem;
}

#Bloco-03 a a:hover{
    color: #34c7ce;
}



/*configuração da nuvem de palavras*/
#Bloco-04{
    background-color: black;
    padding: 1em;
    height: 67vh;
    width: 100%;
    color: white;
    text-align: center;
    border: 8px 8px 8px 8px #2b3676;
    box-shadow: 8px 8px 8px 8px #2b3676;
}

#Bloco-04 h2{
    margin-top: 10px;;
}

#Bloco-04 img{
    width: 40vw;
    height: 50vh;
    border-radius: 40px;
    padding: 1.5rem;
}

#Bloco-04 p{
    margin-top: -5px;
}

#Bloco-04 .one-a{
    color: #34c7ce;
    font-weight: 600;
    margin-bottom: 6px;
}

#Bloco-04 .one-b{
    font-size: 10px;
}

#Bloco-05{
    padding: 2rem;
    height: 65vh;
    width: 100%;
    display: block;
    justify-content: space-between;
    background-color: black;
    color: white;
    box-shadow: 10px 10px 10px #2b3676;
    border-radius: 8px 8px 8px 8px #2b3676;

}

#Bloco-05 h2{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 2em;
    margin-bottom: -2em;
}
#Bloco-05 .base{
    padding: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    height: 70vh;
    width: 100%;
    }

#Bloco-05 .base p{
    font-size: 25px;
    font-weight: bold;
}

  #Bloco-05 .divOne{
    height: 10vh;
    width: 10vw;
    background-color: #5774ee;
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: center;
    padding: 5rem;
    margin-left: 4.5em;
    margin-bottom: 4em;
    box-shadow: 10px 10px 10px #2b3676;
    border-radius: 8px 8px 8px 8px #2b3676;
    }


  
/*configuração do footer*/
#footer{
    display: flex;
    justify-content: space-evenly;
    padding: 8vh;
    background-color: #020da3;
    color: white;
    align-items: center;
}

#footer .footer-logo img{
    height: 25vh;
    width: 20vw;
    padding: 2px;
    align-items: center;
}

#footer .contatos i {
   font-size: 3rem;
   margin-right: 20px;
   padding: 20px;
}

#footer .contatos p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

#footer .footer-map p{
    margin-bottom: 10px;
}

.footer-map iframe{
    width: 300px;
    height: 250px;
}

#footer .div-meio{
    display: block;
    align-items: center;
    text-align: center;
}

#footer .div-meio .atendimento{
    padding: 2rem;
}

#footer .div-meio .atendimento p{
    margin-bottom: 8px;
}




/*responsividade*/

@media(max-width:1920px){

}

@media(max-width:1380px){

}

@media(max-width: 400px){

    .nav-links{
        display: none;
    }

    .hamburger{
        display: block;
    }
};