/*configuração global*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
}

body{
    background-color: yellowgreen;
}
/*configurações do header*/
header{
    height: 22vh;
    width: 100vw;
    padding: 0.5rem;
    background-color: #020da3;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 10px 10px 0px #2b3676;
    position: sticky;
    top: 0;
    left: 0;
}

.logo img{
    width:  240px;
    height: 140px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: white;
    align-items: unset;
    height: 22vh;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 0 30px;
    align-items: center;
}

.nav-links a,
.nav-links-mobile a{
    color: white;
    text-decoration: 0.3s;
    font-size: 23px;
}

.nav-login{
    align-items: center;
    display: flex;
}

.nav-login img{
    width: 3.2rem;
    margin-right: -35PX; 
    height: 4vh;
}

.nav-links .icon-login{
    width: 3.2rem;
    margin-right: -10PX;
}

.nav-links .icon-login a:hover{
    color: #34c7ce;
}

.nav-links a:hover{
    color: #34c7ce;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #020da3;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 0%;
    list-style: none;
    padding: 0;
}

.nav-links-mobile li {
    border-bottom: 1px solid #2b3676;
    padding-bottom: 1.2rem;
}

.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}


/*confuguração dos blocos*/
#Bloco-01{
    background-image: url(ImgHome/business-5327813_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    margin-top: 0.3vh;
    padding: 0.5rem;
    height: 50vh;
    width: 100vw;
    border-radius: black;
    box-shadow: 0px 0px 10px 0px  #2b3676;
    color: white;
}

#Bloco-00{
    height: 15vh;
    width: 100vw;
    padding: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
}

#Bloco-00 h1{
    text-align: center;
    padding: 0.5em;
}

#Bloco-00 p{
    font-size: 20px;
}

#Bloco-02{
    padding: 0.5rem;
    height: 37vh;
    width: 100vw;
    color: black;
    text-align: center;
    background-color: #34c7ce;
    box-shadow: 0px 0px 5px 0px #2b3676;
    font-size: 25px;
}

#Bloco-02 h2{
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 0.8em;
    margin-left: 0em;
    margin-right: 0em;
}

#Bloco-02 p{
    text-align: none;
    margin-left: 15rem;
    margin-right: 15rem;
}

#Bloco-05{
    padding: 0.5rem;
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    box-shadow: 0px 10px 9px 0px #2b3676;
    border-radius: 8px 8px 8px 8px #2b3676;
}

#Bloco-05 h2{
    margin-left: 30%;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 2em;
}

#Bloco-05 .base{
    padding: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    height: 70vh;
    width: 100vw;
    margin-left: 5%;
    margin-top: -1.5em;
}

#Bloco-05 .base p{
    font-size: 25px;
    font-weight: bold;
}

  #Bloco-05 .divOne{
    height: 10vh;
    width: 10vw;
    background-color: #5774ee;
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: center;
    padding: 5rem;
    margin-left: 4.5em;
    margin-bottom: 4em;
    box-shadow: 10px 10px 10px #2b3676;
    border-radius: 8px 8px 8px 8px #2b3676;
    }


#Bloco-03{
    padding: 0.5rem;
    height: 65vh;
    width: 100vw;
    background-image: url(ImgHome/img-bloco-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 20px;
    color: black;
}

#Bloco-03 h2{
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    margin-right: 70rem;
}

#Bloco-03 p{
    margin-bottom: 0.5rem;
    font-weight: 900;
    margin-right: 70rem;
}

#Bloco-03 p a:hover{
    color: #34c7ce;
}


/*configuração da nuvem de palavras*/
#Bloco-04{
    background-color: black;
    padding: 0.5rem;
    height: 67vh;
    width: 100vw;
    color: white;
    text-align: center;
    border: 8px 8px 8px 8px #2b3676;
}

#Bloco-04 h2{
    margin-top: 10px;
}

#Bloco-04 img{
    width: 40vw;
    height: 50vh;
    border-radius: 40px;
    padding: 1.5rem;
}

#Bloco-04 p{
    margin-top: -5px;
}

#Bloco-04 .one-a{
    color: #34c7ce;
    font-weight: 600;
    margin-bottom: 6px;
}

#Bloco-04 .one-b{
    font-size: 10px;
}

  
/*configuração do footer*/
#footer{
    height: 45vh;
    width: 100vw;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #020da3;
    color: white;
    align-items: center;
}

#footer .footer-logo img{
    height: 190px;
    width: 320px;
    padding: 2px;
    align-items: center;
}

#footer .contatos i {
   font-size: 2.5rem;
   margin-right: 20px;
   padding: 10px;
}

#footer .contatos p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

#footer .footer-map p{
    margin-bottom: 10px;
}

.footer-map iframe{
    width: 300px;
    height: 250px;
}

#footer .div-meio{
    display: block;
    align-items: center;
    text-align: center;
}

#footer .div-meio .atendimento{
    padding: 2rem;
}

#footer .div-meio .atendimento p{
    margin-bottom: 8px;
}


/*responsividade*/
@media(max-width:1920px){
    /* é o padrão da tela onde o site foi desenvolvido 1920 x 1080px */
}
  

@media(max-width:1360px){
/* é o padrão das telas da Dom Bosco 1360 x 768 */
header{
    width: 98.7vw;
}

#Bloco-01{
    width: 97.5vw;
}

#Bloco-00{
    width: 96.5vw;
}
#Bloco-02{
    width: 92.4vw;
}

#Bloco-02 h2{
    margin-left: 9em;
    margin-right: 9em;
}

#Bloco-02 p{
    margin-left: 9em;
    margin-right: 9em;
}

#Bloco-05{
    width: 95.1vw;
}

#Bloco-05 .base{
    height: 70vh;
    width: 100%;
    }

#Bloco-05 .base p{
    font-size: 23px;
    font-weight: bold;
}

#Bloco-05 .divOne{
   padding: 4rem;
   margin-left: 4.5em;
   margin-bottom: 4em;
   box-shadow: 10px 10px 10px 7px #2b3676;
   border-radius: 8px 8px 8px 8px #2b3676;
}

#Bloco-03{
    width: 94.2vw;
}

#Bloco-03 h2{
    margin-bottom: 2rem;
    margin-right: 60rem;
}

#Bloco-03 p{
    margin-bottom: 0.5rem;
    font-weight: 900;
    margin-right: 60rem;
}

#Bloco-04{
    width: 97.5vw;
}

footer{
    width: 93.1vw;
}
}
/* fim da configuração de 1360 x 768 */



@media(max-width:400px){
    /* é o padrão das menores telas no mercado 400 x 642  */
    body{
        background-color: gold;
    }
    
    header{
        width: 92.3vw;
        padding: 1em;
        height: 30vh;
    }

    header .navbar{
        display: block;
    }
    header .navbar .logo{
        width: 10px;
        height: 8px;
        margin-left: 15%;
        margin-top: -8px;
    }

    header .navbar .nav-links{
        display: inline-flex;
        margin-top: 8rem;
    }

    header .navbar .nav-links a{
        font-size: 20px;
    }
    
    #Bloco-01{
        width: 92.1vw;
    }
    
    #Bloco-00{
        width: 90.5vw;
    }

    #Bloco-00 h1{
        font-size: 22px;
    }
    #Bloco-00 p{
        font-size: 17px;
    }

    #Bloco-02{
        width: 75.1vw;
    }
    
    #Bloco-02 h2{
        margin-left: 1em;
        margin-right: 1em;
        font-size: 25px;
    }
    
    #Bloco-02 p{
        margin-left: 1em;
        margin-right: 1em;
        font-size: 18px;
    }
    
    #Bloco-05{
        padding: 2rem;
        height: 50vh;
        width: 84.3vw;
        display: flex;
    }

    #Bloco-05 h2{
        font-size: 19px;
        margin-top: -10px;
    }
    
    #Bloco-05 .base{
        padding: 1em;
        display: flex;
        gap: 5px;
        align-items: center;
        height: 40vh;
        width: 80%;
        margin-top: 2rem;
    }
    
    #Bloco-05 .base p{
        font-size: 15px;
    }
    
    #Bloco-05 .divOne{
       padding: 1rem;
       margin-left: 0.5em;
       margin-right: 0.5em;
       width: 80vw;
       height: 8vh;
       margin-bottom: 5px;
       box-shadow: 4px 3px 10px 2px #2b3676;
       border-radius: 8px 8px 8px 8px #2b3676;
    }
    
    #Bloco-03{
        width: 84.1vw;
        background-size: 100%;
        height: 30vh;
    }
    
    #Bloco-03 h2{
        margin-bottom: 5px;
        margin-right: 0px;
        font-size: 20px;
        color: #020da3;
        font-weight: 600;
    }
    
    #Bloco-03 p{
        font-size: 18px;
        margin-top: 5px;
        margin-right: 2rem;
    }

    #Bloco-03 p a{
        color: black;
    }
    
    #Bloco-04{
        width: 92.1vw;
    }

    #Bloco-04 h2 {
        font-size: 20px;
    }

    #Bloco-04 img{
        width: 90%;
        height: 65%;
    }

    #Bloco-04 p{
        margin-top: -10px;
    }
    
    #footer{
        width: 81vw;
        height: 100vh;
        display: block;
    }
   
    #footer .footer-logo img{
        height: 20vh;
        width: 35vw;
        padding: 0px;
        align-items: center;
        margin-left: 22%;
        margin-bottom: 2rem;
    }
    
    #footer .contatos i {
       font-size: 1.2rem;
       margin-right: 20px;
       padding: 20px;
    }
    
    #footer .contatos p{
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    #footer .footer-map p{
        margin-bottom: 10px;
    }
    
    .footer-map iframe{
        width: 300px;
        height: 250px;
    }
    
    #footer .div-meio{
        display: block;
        align-items: center;
        text-align: center;
    }
    
    #footer .div-meio .atendimento{
        padding: 2rem;
    }
    
    #footer .div-meio .atendimento p{
        margin-bottom: 8px;
    }

    }
    /* fim da configuração de 400 x 768 */