/*configuração global*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
}

/*configurações do header*/

header{
    padding: 1vh;
    height: 20vh;
    background-color: #020da3;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 8px 8px #2b3676;
    position: sticky;
    top: 0;
    left: 0;
}

.logo img{
    width:  15rem;
    height: 7.5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 10px 30px;
    height: 50px;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 0 30px;
    align-items: center;
}

.nav-links a,
.nav-links-mobile a{
    color: white;
    text-decoration: 0.3s;
    font-size: 23px;
}

.nav-links .icon-login{
    width: 3.2rem;
    margin-right: -10PX;
}

.nav-links .icon-login a:hover{
    color: #34c7ce;
}

.nav-links a:hover{
    color: #34c7ce;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #020da3;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 0%;
    list-style: none;
    padding: 0;
}

.nav-links-mobile li {
    border-bottom: 1px solid #2b3676;
    padding-bottom: 1.2rem;
}

.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}

.texte-body{
height: 30vh;
background-color: pink;
padding: 30px;
}



/*aqui são as configuraões feitas por você no body que eu não mexi em nada 😉*/

div h2{

    text-align: center;
    margin-top: 30px;
    font-size: 33px;
    background-color: #001abb;
    padding: 40px;
    color:white;
    box-shadow: 4px 4px 4px black;
    text-shadow: 4px 4px 4px  black;

}





#app{
    padding: 15rem;
    background-color:#187ade ;
    display: flex;
    justify-content: space-between;
    color: blue;
    }
    
    #app div button{
    padding: 25px;
    border-radius: 50px;
    border-color:#9cffff ;
    width: 20em;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 4px 4px 4px black;
    margin-left: 170px;
    margin-top: 20px;
    
    }
    
    #app button:hover{
     transition: 1s;
     color: white ;
     background-color: #001abb;
     
    }
    
    #app button a{
    text-decoration: none;

    
    }
    
    #app div p{
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 22px;
        text-align: center;
        margin-left: 50px;
        color: white;
    }

    
    
    #app div img{
    width: 30rem;
    height: 30rem;
    margin-left:180px;
    margin-top: 70px;
    box-shadow: 6px 6px 6px white;
    
    }

   #app h2{
    font-size: 40px;
    padding: 80px;
    margin-left: 180px;
    margin-top: 170px;
    margin-left: 30px;
    box-shadow: 6px 6px 6px white;
   }

   #app p{
    margin-left: 170px;
   }


    #app2{
        padding: 15rem;
        background-color:#187ade;
        display: flex;
        justify-content: space-between;
        color: white;
        
        }
        
        #app2 div button{
        padding: 25px;
        border-radius: 50px;
        border-color:#9cffff ;
        width: 20em;
        cursor: pointer;
        font-size: 15px;
        box-shadow: 6px 6px 6px black;
        
        }
        
        #app2 button:hover{
         transition: 1s;
         color: white ;
         background-color:blue;
         
        }
        
        #app2 button a{
        text-decoration: none;
        color: #7becf0;
        
        }
        
        #app2 div p{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 22px;
            color: white;
        }

        
        
        #app2 div img{
        width: 30rem;
        height: 30rem;
        margin-left: 80px;
        margin-top: 70px;
        box-shadow: 6px 6px 6px white;
        
        }

        #app2 i{
            font-size: 45px;
            margin-top: 30px;
            margin-left: 30px;
            box-shadow: 4px 4px 4px black;
            margin-left: 50px;
            
        }


        #app2 i:hover{
         transition: 0.8s; 
         color: white;
         background-color: blue;

        }

        #capital{
            text-align: center;
            font-size: 32px;
            padding: 10px;
            margin-top: 50px;
            justify-content: end;
            margin-right: 80px;
            background-color: white;
            color: #001abb;
          }
        
         
        
        
           #capital p{
           font-size: 25px;
           }
        
        



/*configurações do footer*/
#footer{
    display: flex;
    justify-content: space-evenly;
    padding: 8vh;
    background-color: #020da3;
    color: white;
    align-items: center;
}

#footer .footer-logo img{
    height: 25vh;
    width: 20vw;
    padding: 2px;
    align-items: center;
}

#footer .contatos i {
   font-size: 3rem;
   margin-right: 20px;
   padding: 20px;
}

#footer .contatos p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

#footer .footer-map p{
    margin-bottom: 10px;
}

.footer-map iframe{
    width: 300px;
    height: 250px;
}

#footer .div-meio{
    display: block;
    align-items: center;
    text-align: center;
}

#footer .div-meio .atendimento{
    padding: 2rem;
}

#footer .div-meio .atendimento p{
    margin-bottom: 8px;
}



/*responsividade*/

@media(max-width: 400px){

    .nav-links{
        display: none;
    }

    .hamburger{
        display: block;
    }
}

  
